@import "tailwindcss";

:root {
	--background: antiquewhite;
	--foreground: #222;
	display: flex;
	flex-direction: column;
	height: 100vh;
	min-height: 100vh;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
}

body {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	background: var(--background);
	color: var(--foreground);
	font-family: Arial, Helvetica, sans-serif;
	min-height: 100%;
}

body ::-webkit-scrollbar-track {
	background: rgba(0, 0, 0, 0);
}

body ::-webkit-scrollbar-thumb {
	background: rgba(0, 8, 10, 0.35);
}

body ::-webkit-scrollbar-thumb:hover {
	background: rgba(0, 8, 10, 0.45);
}
