@import "tailwindcss";

:root {
	--background: antiquewhite;
	--foreground: #222;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
}

body {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	background: var(--background);
	color: var(--foreground);
	font-family: Arial, Helvetica, sans-serif;
	min-height: 100%;
}
